:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Violet: rgb(118, 108, 241);
}
*{
    font-family: 'Red Hat Display';
    margin:0cm;
    padding: 0cm;
}
body{
    background-image:url(image/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: var(--Pale-blue);
    background-position-y:-70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    background-color: var(--Very-pale-blue);
    height: 18cm;
    width: 12cm;
    border-radius: 0.6cm;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.container #hero{
    width: 100%;
    border-top-left-radius: 0.6cm;
    border-top-right-radius: 0.6cm;
}
.container #text-description{
    text-align: center;
    margin-top: 1cm;
}
.container #text-description h1{
    font-size: 0.8cm;
    color: var(--Dark-blue);
    font-variation-settings: "wght" 900;
}
.container #text-description p{
    font-size: 16px;
    margin-top: 0.5cm;
    color: var(--Desaturated-blue);
    line-height: 0.7cm;
}
.price-abonement{
    height: 2.4cm;
    width: 9cm;
    margin-top: 0.6cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.3cm;
    background-color: hsl(227, 39%, 95%);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#music-logo{
    margin-left: 0.6cm;
}
#annual-price{
    list-style: none;
    margin-right: 1.8cm;;
}
#annual-price li:first-child{
    font-size: 16px;
    color: var(--Dark-blue);
    font-variation-settings: "wght" 900;
}
#annual-price li:last-child{
    margin-top: 0.1cm;
    font-variation-settings: "wght" 500;
    color: var(--Desaturated-blue);
}
.price-abonement a{
    padding-right: 0.6cm;
    font-variation-settings: "wght" 700;
}
#link-change:visited{
    color:var(--Dark-blue) ;
}
#link-change:hover{
    color: var(--Violet);
    text-decoration: none;
}
.payment{
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    font-variation-settings: "wght" 500;
    border-radius: 0.3cm;
    width: 9cm;
    height: 1.2cm;;
    margin-top:0.8cm;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: hsla(245, 75%, 70%, 0.281) 0px 20px 25px -5px, hsla(245, 75%, 52%, 0.253) 0px 10px 10px -5px;
}
.payment:hover{
    background-color:var(--Violet);
    cursor: pointer;
}
.cancel{
    width: 2.7cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8cm;
    color:var(--Desaturated-blue);
    font-variation-settings: "wght" 700;
}
.cancel:hover{
    color: var(--Dark-blue);
    cursor: pointer;
}

